@media (max-width: 800px)and (orientation:portrait){
body{
    background-color: rgb(34, 29, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#header1{
    border: 2px  rgb(34, 29, 29);
    position: absolute;
    width: 95%;
    height: 50px;
    color: aliceblue;
}
.header1-1{
    border: 2px ;
    position: absolute;
    margin-left: auto;
    width: 100%;
}
#table1{
    border: 2px ;
    position: absolute;
    margin-left: auto;
    width: 100%;
}
.td0{
    border: 2px ;
    width: 20%;
    text-align: center;

}
.layer1{
    width: 100%;
    overflow: hidden;
}
#p1{
    text-align: center;
    margin-top: 10%;
}
.layer2{
    background-color: rgb(34, 29, 29);
    color: aliceblue;
    margin-top: -30%;
}
.circle{
    border: 0px ;
    width: 150px;
    height: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    background-color: rgb(34, 29, 29);
    padding: 20px;
    position: relative;
}
#img1{
    width: 100%;
    object-fit: cover;
    border: 2px solid;
    margin-top: -50px;
    margin-bottom: -100px;
}
#button1{
    border: 2px solid;
    border-radius: 100px;
    padding: 20px;
    font-size: 20px;
    color: aliceblue;
    background-color: rgb(34, 29, 29);
}
/*-------------------------------------------------*/
#h1-2{
    font-size: 50px;
}
.table2{
    border: 2px ;
    padding: 2px;
    width: 100%;
}
.td2{
    border: 2px solid;
    text-align: center;
}
/*--------------------------------------------------*/
#html{
    border: 2px solid red;
    width: 50%;
    text-align: center;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 20px red;
    margin-top: 10px;
    margin-bottom: 10px;
}
#css{
    border: 2px solid blue;
    width: 50%;
    text-align: center;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 20px blue;
    margin-top: 10px;
    margin-bottom: 10px;
}
#python{
    border: 2px solid green;
    width: 50%;
    text-align: center;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 20px green;
    margin-top: 10px;
    margin-bottom: 10px;
}
#bash{
    border: 2px solid brown;
    width: 50%;
    text-align: center;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 20px brown;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*--------------------------------------------------*/
#email-0{
    border: 2px ;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#e-mail{
    border: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 50px;
}
#e-mail1{
    border: 2px solid;
    width: 30%;
    color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
    float: right;
}
/*#e-mail:hover{
}
#e-mail:hover #message{
    visibility: visible;
}
#e-mail:hover{
    visibility: hidden;
}*/
#span1{
    color: aliceblue;
    border: 2px solid;
    font-size: larger;
    padding: 20px;
    border-radius: 100px;
    cursor: pointer;
}
#message{
    visibility: hidden;
    border: 2px solid;
    width: auto;
    color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 5px;
    margin-top: -100px;
    border-radius: 50px;
    cursor: pointer;
    float: right;
}
#span2{
    /*color: rgb(39, 35, 35);*/
    color: white;
    float: right;
    margin-top: -50px;
    margin-left: auto

}
#e-mail2{
    border: 2px solid;
    width: 35%;
    color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
    float: left;
    margin-right: 20px;
}
#img3{
    width: 50px;
    border: 2px solid;
    margin-top: 10px;
    padding: 2px;
    border-radius: 100px;
    filter: brightness(50);
}
}